* {
    
    text-decoration: none;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    min-width: 400px;
}

html {
    display: block;
}

.topo-principal {
    display: block;
    position: relative;
    padding: 6px 8px 6px 6px;
    font-size: 13px;
}

.topo-principal-menu {
    display: flex;
    justify-content: flex-end;
    height: 48px;
}

.topo-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
}

.topo-icon {
    background-size: 32px 32px;
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
}

.foto-perfil {
    
    border-radius: 50%;
    padding: 4px;
    display: block;
    position: relative;
    width: 40px;
}

.topo-menu-menu p {
    padding-left: 15px;
}

.topo-menu-menu {
    color: #202124;
}

.topo-menu-icon {
    padding-left: 15px;
}

.topo-menu-foto {
    padding-left: 15px;
}

.logon {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    padding: 20px;
}

.logon-container {
    display: flex;
    align-items: flex-end;
}

.section-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 48px;
    padding: 20px 0 20px 0;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
}

.container-keyboard {
    padding: 0 8px;
}

.search-icon {
    width: 15px;
    height: auto;

}

.container-mic {
    height: 21px;
    padding: 0 8px;
}

.main-container input {
    background-color: transparent;
    text-align: center;
    border: 0;
    color: rgba(0,0,0,.87);
    width: 447px;
    height: 34px;
    font-size: 16px;
}

.container-button {
    text-align: center;
    padding-top: 18px;
}

.container-button .button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    appearance: auto;
}

.container-complemento {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: 220px;
    font-size: 13px;
    color: #4d5156;

}

.main-footer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    color: #70757a;
    font-size: 15px;
    height: 46px;
}

.footer-final {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    height: 46px;
}

.footer-final a{
    padding: 15px;
    color: #70757a;
    font-size: 14px;
}